@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  cursor: auto;
  background-color: transparent;
}

.main-content {
  flex: 1;
}

section {
  min-height: 768px;
  padding: 50px 20px;
}

source[data-key] {
  display: none;
}

canvas, #bubbleCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

#bubbleCanvas {
  z-index: -999;
  pointer-events: none;
}

#menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  z-index: 999;
  padding: 0 20px;
  font-family: "Microsoft JhengHei", sans-serif;
}
#menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex: 1;
  justify-content: center;
}
#menu li {
  display: inline-block;
}
#menu a {
  text-decoration: none;
  color: rgb(205, 98, 231);
  font-size: 24px;
  font-weight: bold;
  padding: 10px 15px;
}

#logo {
  height: 80px;
  display: flex;
  align-items: center;
}
#logo img {
  height: 100%;
  max-height: 80px;
}

.lang-toggle select {
  margin: 30px;
  border-radius: 10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 16px;
  cursor: pointer;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: transparent;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.left {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  flex: 1;
  width: 100px;
  position: relative;
  width: 100%;
  text-align: center;
}

.right {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
  z-index: -1;
}

.left {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left .OiO-img {
  width: 500px;
  max-width: 100%;
  margin-left: -10px;
}

.description {
  margin-top: 20px;
  font-size: 16px;
  font-family: "Microsoft JhengHei", sans-serif;
  text-align: left;
}
.description p {
  font-weight: bold;
  font-family: "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
}

.small-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: 10px;
}
.small-icons .icon {
  height: 50px;
  transition: filter 0.3s ease;
}
.small-icons .hover-icon:hover {
  filter: brightness(80%);
}

.right {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.app-container .phone-mockup {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120%;
  margin-top: 40px;
  margin-left: -120px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.app-container .video-container {
  position: absolute;
  height: 80%;
  margin-top: 10px;
  margin-left: -220px;
  border-radius: 5%;
  overflow: hidden;
}

.download-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.download-section img {
  max-width: 50%;
  width: auto;
  height: auto;
  display: block;
}
.download-section .download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  padding: 0 2rem;
  background-color: rgb(205, 98, 231);
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}
.download-section .download-btn:hover {
  background-color: rgb(90, 90, 90);
}

.OiO-introduce {
  background-color: rgb(242, 243, 240);
  height: 700px;
  display: block;
  align-items: center;
  justify-content: center;
}

.OiO-introduce-img {
  position: relative;
  width: 900px;
  height: 900px;
  margin: 50px auto 0;
  padding-top: 0;
}

.title {
  position: relative;
  width: 100%;
}
.title-text {
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}

.title1 {
  background-color: rgb(242, 243, 240);
  width: 100%;
  z-index: 1;
}
.title1 .title1-image {
  display: block;
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: 0px auto 0px;
  height: auto;
  display: block;
}

.title2 {
  background-color: #D4ACEA;
  width: 100%;
  z-index: 1;
}
.title2 .title2-image {
  display: block;
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: 0px auto 0px;
  height: auto;
  display: block;
}

.title3 {
  background-color: rgb(242, 243, 240);
  width: 100%;
  z-index: 1;
}
.title3 .title3-image {
  display: block;
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: 0px auto 0px;
  height: auto;
  display: block;
}

.title4 {
  background-color: rgb(242, 243, 240);
  width: 100%;
  z-index: 1;
}
.title4 .title4-image {
  display: block;
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: 0px auto 0px;
  height: auto;
  display: block;
}

.title5 {
  background-color: rgb(242, 243, 240);
  width: 100%;
  z-index: 1;
}
.title5 .title5-image {
  display: block;
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: 0px auto 0px;
  height: auto;
  display: block;
}

.title6 {
  background-color: transparent;
  width: 100%;
  z-index: 1;
}
.title6 .title6-image {
  display: block;
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: 0px auto 0px;
  height: auto;
  display: block;
}

.title7 {
  background-color: rgb(242, 243, 240);
  width: 100%;
  z-index: 1;
}
.title7 .title7-image {
  display: block;
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: 0px auto 0px;
  height: auto;
  display: block;
}

.main-image {
  width: 999px;
  height: 555px;
  margin-left: -500px;
  position: relative;
  top: 50px;
}

.hover-block {
  position: absolute;
  width: 33.33%;
  height: 50%;
  cursor: pointer;
}
.hover-block img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
}
.hover-block:hover img, .hover-block:hover .introduce-img-text {
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.main-image.top-position {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.introduce-img-1 {
  width: 250px;
  height: 245px;
  margin-top: -100px;
  margin-left: -15px;
}

.introduce-img-1-text {
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  white-space: nowrap;
  margin-top: 50px;
  margin-left: 120px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  z-index: 10;
  line-height: 1.5;
  font-weight: bold;
}

.introduce-img-2 {
  width: 366px;
  height: 245px;
  margin-top: -100px;
  margin-left: -30px;
}

.introduce-img-2-text {
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  white-space: nowrap;
  margin-top: 50px;
  margin-left: 115px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  z-index: 10;
  line-height: 1.5;
  font-weight: bold;
}

.introduce-img-3 {
  width: 333px;
  height: 240px;
  margin-top: -100px;
  margin-left: -10px;
}

.introduce-img-3-text {
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  white-space: nowrap;
  margin-top: 50px;
  margin-left: 150px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  z-index: 10;
  line-height: 1.5;
  font-weight: bold;
}

.introduce-img-4 {
  width: 344px;
  height: 240px;
  margin-top: -280px;
  margin-left: 30px;
}

.introduce-img-4-text {
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  white-space: nowrap;
  margin-top: -120px;
  margin-left: 160px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  z-index: 10;
  line-height: 1.5;
  font-weight: bold;
}

.introduce-img-5 {
  width: 318px;
  height: 240px;
  margin-top: -280px;
  margin-left: 30px;
}

.introduce-img-5-text {
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  white-space: nowrap;
  margin-top: -120px;
  margin-left: 190px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  z-index: 10;
  line-height: 1.5;
  font-weight: bold;
}

.introduce-img-6 {
  width: 302px;
  height: 240px;
  margin-top: -280px;
  margin-left: 30px;
}

.introduce-img-6-text {
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  white-space: nowrap;
  margin-top: -120px;
  margin-left: 190px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  z-index: 10;
  line-height: 1.5;
  font-weight: bold;
}

.popup-item {
  display: none;
  position: relative;
  max-width: 900px;
  width: 90%;
  animation: fadeIn 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popup-item img {
  width: 100%;
  height: auto;
  display: block;
}

.popup-item p {
  position: absolute;
  top: 25%; /* 依據圖片的高，比例定位 */
  left: 33%; /* 依據圖片的寬，比例定位 */
  width: 45%;
  padding: 1rem;
  margin: 0;
  text-align: left;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.speech {
  position: relative;
  max-width: 60%;
  padding: 1em;
  margin: 1em 0;
  background: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-shadow: 4px 4px 0 #333;
}

/* 左邊尾巴（含陰影） */
.speech.left::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #fff transparent transparent;
  filter: drop-shadow(-2px 4px 0 #333); /* 尾巴陰影 */
}

/* 右邊尾巴（含陰影） */
.speech.right {
  margin-left: auto;
}

.speech.right::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #fff;
  filter: drop-shadow(2px 4px 0 #333); /* 尾巴陰影 */
}

.illustration-1 {
  position: relative;
  height: 400px;
  background-color: rgb(212, 172, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
  position: relative; /* 讓內部元素可以絕對定位 */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.illustration-1 img {
  width: 800px;
  max-width: 100%;
  height: auto;
}
.illustration-1 p {
  font-family: "Microsoft JhengHei", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  position: absolute;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 10;
}
.illustration-1 p:first-of-type {
  width: 320px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%) translateX(-30px);
}
.illustration-1 p:last-of-type {
  width: 400px;
  top: 230px;
  left: 50%;
  transform: translateX(-50%) translateX(50px);
}

#introduce-part1, #introduce-part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 172, 234);
  padding: 20px;
  max-width: 100%;
}

.section-introduce-1 img, .section-introduce-2 img {
  display: block;
  margin: 0 0 10px;
  max-width: 100%;
  height: auto;
}

.text-container-1, .text-container-2 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 20px;
  position: relative;
}

.text-introduce-part1 {
  font-family: "Microsoft JhengHei", sans-serif;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  width: 500px;
  margin-top: -420px;
  margin-left: 200px;
  z-index: 10;
}
.text-introduce-part1 p {
  margin-bottom: 50px;
}

.section-introduce-2 {
  padding: 3rem 1.5rem;
}
.section-introduce-2 .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row-reverse;
}
.section-introduce-2 picture {
  flex: 1 1 300px;
}
.section-introduce-2 picture img {
  max-width: 100%;
  border-radius: 12px;
}
.section-introduce-2 .text-container-2 {
  flex: 1 1 400px;
  color: #000000;
  font-family: "Microsoft JhengHei", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.section-introduce-2 .text-container-2 .text-introduce-part2,
.section-introduce-2 .text-container-2 .text-introduce-part3 {
  text-align: right;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
}
.section-introduce-2 .text-container-2 .feature-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.section-introduce-2 .text-container-2 .feature-container .feature-item {
  flex: 1;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s;
}
.section-introduce-2 .text-container-2 .feature-container .feature-item:hover {
  transform: translateY(-5px);
}
.section-introduce-2 .text-container-2 .feature-container .feature-item img {
  max-width: 200px;
  margin-bottom: 0.5rem;
}
.section-introduce-2 .text-container-2 .feature-container .feature-item p {
  font-weight: bold;
  font-size: 0.95rem;
  margin-top: 0.5rem;
  margin-top: -40px;
}

#introduce-part3 {
  min-height: 1536px;
  display: block;
  align-items: center;
  justify-content: center;
}

.manual-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  margin-bottom: 20px;
}

.manual-icon {
  width: 200px;
  height: auto;
}
.manual-icon img {
  width: 100%;
  height: auto;
}

.manual-link {
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
.manual-link:hover {
  text-decoration: underline;
}

.Interactive-Mobile {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 100%;
  position: relative;
}

.Phone-image {
  position: relative;
  height: 1265px;
  max-width: 100%;
  cursor: url("img/cursor.png") 16 16, auto;
}

.hover-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}

#hoverImageA {
  position: absolute;
  top: 70.6%;
  left: 49.8%;
  transform: translate(-50%, -50%);
  width: 566px;
  cursor: url("img/cursor.png") 16 16, auto;
}

#hoverImageB {
  position: absolute;
  top: 23.2%;
  left: 49.9%;
  transform: translate(-50%, -50%);
  width: 374px;
  cursor: url("img/cursor.png") 16 16, auto;
}

#hoverImageC {
  position: absolute;
  top: 89%;
  left: 49.9%;
  transform: translate(-50%, -50%);
  width: 159px;
  cursor: url("img/cursor.png") 16 16, auto;
}

#Attractions-introduceA {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  width: 400px;
  margin-top: 250px;
  margin-left: -450px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#Attractions-introduceB {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  width: 400px;
  margin-top: -300px;
  margin-left: 380px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#Attractions-introduceC {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  width: 400px;
  margin-top: 300px;
  margin-left: 380px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.introduceA-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  margin-top: 250px;
  margin-left: -700px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: left;
  width: 220px;
  z-index: 10;
  line-height: 1.5;
}

.introduceB-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  margin-top: -300px;
  margin-left: 120px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: left;
  width: 220px;
  z-index: 10;
  line-height: 1.5;
}

.introduceC-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: "Microsoft JhengHei", sans-serif;
  position: absolute;
  margin-top: 300px;
  margin-left: 120px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: left;
  width: 220px;
  z-index: 10;
  line-height: 1.5;
}

#hoverImageA:hover + #Attractions-introduceA, #hoverImageA:hover + #Attractions-introduceA + .introduceA-text, #hoverImageA:hover + #Attractions-introduceA + .introduceB-text, #hoverImageA:hover + #Attractions-introduceA + .introduceC-text {
  opacity: 1;
}
#hoverImageA:hover {
  filter: brightness(0.8);
  transition: filter 0.3s ease-in-out;
}

#hoverImageB:hover + #Attractions-introduceB, #hoverImageB:hover + #Attractions-introduceB + .introduceA-text, #hoverImageB:hover + #Attractions-introduceB + .introduceB-text, #hoverImageB:hover + #Attractions-introduceB + .introduceC-text {
  opacity: 1;
}
#hoverImageB:hover {
  filter: brightness(0.8);
  transition: filter 0.3s ease-in-out;
}

#hoverImageC:hover + #Attractions-introduceC, #hoverImageC:hover + #Attractions-introduceC + .introduceA-text, #hoverImageC:hover + #Attractions-introduceC + .introduceB-text, #hoverImageC:hover + #Attractions-introduceC + .introduceC-text {
  opacity: 1;
}
#hoverImageC:hover {
  filter: brightness(0.8);
  transition: filter 0.3s ease-in-out;
}

.section-introduce .Phone-image,
.section-introduce .hover-image {
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.illustration-2 {
  position: relative;
  height: 400px;
  background-color: rgb(212, 172, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
  position: relative; /* 讓內部元素可以絕對定位 */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.illustration-2 img {
  width: 900px;
  max-width: 100%;
  height: auto;
}
.illustration-2 p {
  font-family: "Microsoft JhengHei", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  position: absolute;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 10;
}
.illustration-2 p:first-of-type {
  width: 400px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) translateX(10px);
}
.illustration-2 p:last-of-type {
  width: 400px;
  top: 250px;
  left: 50%;
  transform: translateX(-50%) translateX(-20px);
}

#OiO-editing-platform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 50px;
}
#OiO-editing-platform img {
  max-width: 900px;
  height: auto;
  width: 100%;
  display: block;
  margin: 100px auto 0;
}

.text-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-left: 20px;
}

.OiO-editing-platform-1 {
  max-width: 900px;
  height: auto;
  width: 100%;
  display: block;
  margin: 100px auto 0;
}

.text-OiO-editing-platform {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  width: 350px;
  margin-left: 200px;
  margin-top: -360px;
  z-index: 10;
}
.text-OiO-editing-platform p {
  font-family: "Microsoft JhengHei", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
}

.slide {
  display: none; /* 預設隱藏所有的 div */
  text-align: center;
  position: relative; /* 讓內部元素可以絕對定位 */
}
.slide img {
  width: 100%; /* 確保圖片填滿容器 */
  display: block;
}
.slide p {
  font-family: "Microsoft JhengHei", sans-serif;
  width: 500px;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
  position: absolute;
  top: 500px; /* 固定距離圖片頂部 50px，不受視窗大小影響 */
  left: 550px;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
}

.active {
  display: block; /* 只顯示當前的 div */
}

.mobile-images {
  display: none;
}

button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
button img {
  width: 20px;
  height: auto;
}

.prev-button {
  position: absolute;
  transform: translateX(-50%) translateX(-50px);
  top: 300px;
  cursor: pointer;
  z-index: 10;
}

.next-button {
  position: absolute;
  transform: translateX(-50%) translateX(950px);
  top: 300px;
  cursor: pointer;
  z-index: 10;
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s;
}
.dot.active {
  background-color: rgb(212, 172, 234);
}

.illustration-3 {
  height: 350px;
  text-align: center;
  position: relative; /* 讓內部元素可以絕對定位 */
  width: auto;
  background-color: rgb(212, 172, 234);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.illustration-3 img {
  width: 600px;
  max-width: 100%;
  height: auto;
}
.illustration-3 p {
  font-family: "Microsoft JhengHei", sans-serif;
  width: 300px;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%) translateX(-130px);
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 10px;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(242, 243, 240);
  padding: 50px 20px;
}
.about-us img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 30px;
}

.text-container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding-left: 20px;
}

.text-about-us {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  width: 450px;
  margin-left: 400px;
  margin-top: -250px;
  z-index: 10;
}
.text-about-us p {
  font-family: "Microsoft JhengHei", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
}

.about-us-img img {
  max-width: 100%;
  height: auto;
  width: 900px;
  display: block;
  margin: 100px auto 0;
}

.section-introduce {
  background-color: rgb(242, 243, 240);
}
.section-introduce__left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-introduce__image {
  max-width: 100%;
  height: auto;
  width: 900px;
  display: flex;
  justify-content: center;
}

.section-application__left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-application__image {
  max-width: 70%;
  height: auto;
  width: auto;
  display: block;
}

.section-recommend {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.slider_rec {
  display: flex;
  height: 600px;
  justify-content: center;
  overflow: hidden;
}
.slider_rec:hover {
  animation-play-state: paused;
}

.slide_rec {
  width: 220px;
  height: 100%;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
  scroll-snap-align: center;
  border-radius: 10px;
}
.slide_rec:hover {
  transform: scale(1.1);
}

.section-FAQ {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  background-color: rgb(242, 243, 240);
}

.accordion {
  max-width: 880px;
  margin: auto;
}
.accordion-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.accordion-item:nth-child(odd) .accordion-button {
  border-color: #D4ACEA;
  pointer-events: auto;
}
.accordion-item:nth-child(even) .accordion-button {
  border-color: #F6FCCE;
  pointer-events: auto;
}
.accordion-button {
  all: unset;
  display: block;
  width: 100%;
  padding: 15px 20px;
  border: 10px solid;
  cursor: pointer;
  font-size: 20px;
  background: white;
  border-radius: 30px;
  font-family: "Microsoft JhengHei", sans-serif;
  font-weight: bold;
  text-align: left;
}
.accordion-button.active {
  background: #ddd;
}
.accordion-content {
  display: none;
  overflow: hidden;
}
.accordion-content p {
  font-family: "Microsoft JhengHei", sans-serif;
  font-weight: normal;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  background-color: rgb(205, 98, 231);
  color: white;
  text-align: flex-start;
  padding: 40px 20px;
  margin-bottom: -100vh;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.footer .faq, .footer .contact {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  color: white;
}
.footer .faq h2, .footer .contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.footer .faq ul {
  list-style: none;
  padding: 0;
}
.footer .faq ul li {
  margin: 5px 0;
}
.footer .faq ul li a {
  color: white;
  text-decoration: none;
}
.footer .faq ul li a:hover {
  text-decoration: underline;
}

/* 在小螢幕 (手機) 上調整排版 */
@media screen and (max-width: 768px) {
  /* 防止橫向滾動 */
  html, body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  /* 確保主要容器適應手機螢幕 */
  .container {
    width: 100%;
    background-color: rgb(212, 172, 234);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  /* 調整選單高度與內部間距 */
  #menu {
    height: 50px; /* 縮小高度 */
    padding: 0 5px; /* 減少內邊距 */
  }
  /* 調整 LOGO */
  #logo img {
    height: 40px; /* 縮小 LOGO */
    max-height: 50px;
  }
  /* 調整選單樣式 */
  #menu ul {
    gap: 1px; /* 減少間距 */
  }
  #menu a {
    font-size: 10px; /* 縮小字體 */
    padding: 1px 2px; /* 減少內距 */
  }
  /* 語言切換按鈕 */
  .lang-toggle select {
    margin: 10px;
    border-radius: 10px; /* 這會給 select 元素添加圓角 */
    padding: 4px 6px; /* 調整內邊距，讓選單看起來更好 */
    border: 1px solid #ccc; /* 邊框顏色 */
    background-color: #f9f9f9; /* 背景顏色 */
    font-size: 10px; /* 調整字體大小 */
    cursor: pointer; /* 使鼠標指標變成手型 */
    width: 60px;
  }
  .background {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: none;
    height: auto;
    min-height: none;
  }
  .container .left, .container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .left {
    margin-bottom: -10px;
  }
  .container .OiO-img {
    width: 300px;
    max-width: none;
  }
  .container .description {
    font-size: 12px;
    text-align: center;
    padding: 0 15px;
    width: 300px;
  }
  .container .small-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 10px;
  }
  .container .small-icons .icon {
    height: 30px;
  }
  .app-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 350px;
    height: auto;
    margin-top: 20px;
  }
  .app-container .video-container {
    position: relative;
    width: 150px;
    max-width: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: -5px;
    margin-top: -250px;
  }
  .app-container .phone-mockup {
    position: absolute;
    width: 400px;
    height: 400px;
    max-width: 350px;
    transform: translate(-50%, -50%);
    margin-left: -5px;
    margin-top: -100px;
  }
  .OiO-introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    background-color: rgb(242, 243, 240);
    height: 800px;
    width: auto;
  }
  .OiO-introduce .OiO-introduce-img {
    position: relative;
    width: 900px;
    height: 900px;
    margin: 50px auto 0;
    padding-top: 0;
  }
  .title {
    position: relative;
  }
  .title-text {
    position: absolute;
    font-family: "Microsoft JhengHei", sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
  }
  .title1-image {
    display: block;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: 0px auto 100px;
    height: auto;
    display: block;
  }
  .title2-image {
    display: block;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: 0px auto 0px;
    height: auto;
    display: block;
  }
  .title3-image {
    display: block;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: 0px auto 100px;
    height: auto;
    display: block;
  }
  .title4-image {
    display: block;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: 0px auto 100px;
    height: auto;
    display: block;
  }
  .title5-image {
    display: block;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: 0px auto 100px;
    height: auto;
    display: block;
  }
  .title6-image {
    display: block;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: 0px auto 100px;
    height: auto;
    display: block;
  }
  .title7-image {
    display: block;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: 0px auto 100px;
    height: auto;
    display: block;
  }
  .main-image {
    position: absolute;
    width: 80%; /* 調整為百分比寬度，適應不同設備 */
    max-width: 400px; /* 設定最大寬度 */
    height: auto; /* 保持比例 */
    margin-top: -100px; /* 減少上下間距 */
    margin-left: -160px;
  }
  .hover-block {
    position: relative;
    width: 100%; /* 讓區塊更適應手機寬度 */
    height: auto;
  }
  .OiO-introduce {
    background-color: rgb(242, 243, 240);
    height: 600px;
  }
  .OiO-introduce-img {
    max-width: 360px; /* 限制最大寬度，適配手機 */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: auto;
    margin-left: 0px;
  }
  .popup-item {
    display: none;
    position: relative;
    max-width: 900px;
    width: 90%;
    animation: fadeIn 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  .popup-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  .popup-item p {
    position: absolute;
    top: 13%; /* 依據圖片的高，比例定位 */
    left: 12%; /* 依據圖片的寬，比例定位 */
    width: 80%;
    padding: 0.8rem;
    margin: 0;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
  }
  .introduce-img-1 {
    width: 130px;
    height: 125px;
    margin-top: 100px;
    margin-left: -100px;
  }
  .introduce-img-1-text {
    font-family: "Microsoft JhengHei", sans-serif;
    position: absolute;
    top: 15px;
    left: -50px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    z-index: 10;
    line-height: 1.5;
    font-weight: bold;
    width: 100px;
    white-space: normal;
    word-break: break-word;
  }
  .introduce-img-2 {
    width: 186px;
    height: 125px;
    margin-top: 100px;
    margin-left: -80px;
  }
  .introduce-img-2-text {
    font-family: "Microsoft JhengHei", sans-serif;
    position: absolute;
    top: 15px;
    left: -20px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    z-index: 10;
    line-height: 1.5;
    font-weight: bold;
    width: 100px;
    white-space: normal;
    word-break: break-word;
  }
  .introduce-img-3 {
    width: 165px;
    height: 115px;
    margin-top: 230px;
    margin-left: -180px;
  }
  .introduce-img-3-text {
    font-family: "Microsoft JhengHei", sans-serif;
    position: absolute;
    top: 140px;
    left: -140px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    z-index: 10;
    line-height: 1.5;
    font-weight: bold;
    width: 100px;
    white-space: normal;
    word-break: break-word;
  }
  .introduce-img-4 {
    width: 165px;
    height: 115px;
    margin-top: -125px;
    margin-left: -80px;
  }
  .introduce-img-4-text {
    font-family: "Microsoft JhengHei", sans-serif;
    position: absolute;
    top: -40px;
    left: -70px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    z-index: 10;
    line-height: 1.5;
    font-weight: bold;
    width: 100px;
    white-space: normal;
    word-break: break-word;
  }
  .introduce-img-5 {
    width: 180px;
    height: 125px;
    margin-top: 10px;
    margin-left: -210px;
  }
  .introduce-img-5-text {
    font-family: "Microsoft JhengHei", sans-serif;
    position: absolute;
    top: 100px;
    left: -210px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    z-index: 10;
    line-height: 1.5;
    font-weight: bold;
    width: 100px;
    white-space: normal;
    word-break: break-word;
  }
  .introduce-img-6 {
    width: 173px;
    height: 125px;
    margin-top: 10px;
    margin-left: -170px;
  }
  .introduce-img-6-text {
    font-family: "Microsoft JhengHei", sans-serif;
    position: absolute;
    top: 100px;
    left: -170px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    z-index: 10;
    line-height: 1.5;
    font-weight: bold;
    width: 100px;
    white-space: normal;
    word-break: break-word;
  }
  #introduce-part1 {
    background-color: rgb(212, 172, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    height: auto;
    min-height: 1200px;
    padding: 2rem 1rem;
  }
  .section-introduce-1 img {
    display: block;
    margin: 20px auto;
    max-width: 70%;
    height: auto;
  }
  .text-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }
  .text-container-1 .text-introduce-part1 {
    width: 70%;
    text-align: left;
    line-height: 1.5;
    font-weight: bold;
    margin-left: 15%;
    z-index: 10;
    margin-top: 2rem;
  }
  .text-container-1 .text-introduce-part1 p {
    font-family: "Microsoft JhengHei", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-bottom: 2.5rem;
    background-color: rgb(242, 243, 240);
    padding: 15px 20px;
    border-radius: 30px;
    border: 2px solid black;
  }
  .text-container-1 .text-introduce-part1 p:first-of-type,
  .text-container-1 .text-introduce-part1 p:last-of-type {
    width: 70%;
    left: 50%;
  }
  .speech {
    position: relative;
    max-width: 60%;
    padding: 1em;
    margin: 1em 0;
    background: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    box-shadow: 4px 4px 0 #333;
  }
  /* 左邊尾巴（含陰影） */
  .speech.left::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #fff transparent transparent;
    filter: drop-shadow(-2px 2px 0 #333); /* 尾巴陰影 */
  }
  /* 右邊尾巴（含陰影） */
  .speech.right {
    margin-left: auto;
  }
  .speech.right::before {
    content: "";
    position: absolute;
    top: 20px;
    right: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #fff;
    filter: drop-shadow(2px 2px 0 #333); /* 尾巴陰影 */
  }
  .illustration-1 {
    position: relative;
    height: 400px;
    background-color: rgb(212, 172, 234);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    position: relative; /* 讓內部元素可以絕對定位 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .illustration-1 img {
    width: 600px;
    max-width: 100%;
    height: auto;
  }
  .illustration-1 p {
    font-family: "Microsoft JhengHei", sans-serif;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
    position: absolute;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 10;
  }
  .illustration-1 p:first-of-type {
    width: 40%;
    top: 120px;
    left: 50%;
    transform: translateX(-50%) translateX(-20px);
  }
  .illustration-1 p:last-of-type {
    width: 40%;
    top: 200px;
    left: 50%;
    transform: translateX(-50%) translateX(20px);
  }
  #about-OiO {
    width: 100%;
    height: auto;
  }
  .section-introduce-2 .content-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
  .section-introduce-2 picture {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .section-introduce-2 img {
    max-width: 80%;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
  }
  .section-introduce-2 .text-container-2 .text-introduce-part2, .section-introduce-2 .text-container-2 .text-introduce-part3 {
    width: 80%;
    margin: 0 auto 1.5rem auto;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
  }
  .section-introduce-2 .text-container-2 .feature-container {
    flex-direction: column;
    align-items: center;
  }
  .section-introduce-2 .text-container-2 .feature-container .feature-item {
    width: 100%;
    max-width: 300px;
  }
  .section-introduce-2 .text-container-2 .feature-container .feature-item img {
    max-width: 200px;
    margin-bottom: 0.5rem;
  }
  .section-introduce-2 .text-container-2 .feature-container .feature-item p {
    font-weight: bold;
    font-size: 0.95rem;
  }
  #introduce-part1, #introduce-part2, #introduce-part3 {
    min-height: 10px; /* 減少高度 */
    padding: 10px 0; /* 控制內邊距，避免內容太擠 */
  }
  /*操作大手機*/
  #introduce-part3 {
    height: auto; /* 根據內容自動調整高度 */
    max-height: 1000px;
    display: block;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
  }
  .manual-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px; /* 調整 icon 與連結之間的距離 */
    margin-bottom: 30px; /* 與 Interactive-Mobile 間距 */
  }
  .manual-icon {
    width: 10%; /* 調整這個值以適當縮小 */
    height: auto;
  }
  .manual-icon img {
    width: 10%; /* 確保圖片適應容器 */
    height: auto;
  }
  .manual-link {
    font-size: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }
  .manual-link:hover {
    text-decoration: underline;
  }
  .Interactive-Mobile {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 100%; /* 父容器寬度為 100% */
    height: auto;
    position: relative; /* 讓 hover 出現的圖片可以相對於這個區塊定位 */
  }
  .Phone-image {
    position: relative;
    width: 80%; /* 設置圖片寬度為 50% */
    max-width: 100%; /* 確保圖片不會超過容器寬度 */
    height: auto; /* 高度自動縮放 */
    margin: 0 auto; /* 圖片水平居中 */
    display: block; /* 確保圖片作為區塊元素處理 */
    cursor: url("img/cursor.png") 16 16, auto;
  }
  .hover-image {
    display: none;
  }
  #hoverImageA {
    display: none;
  }
  /* 預設隱藏 Attractions-introduceA */
  #Attractions-introduceA {
    display: none;
  }
  .introduceA-text {
    display: none;
  }
  /* 當 hoverImageA 被 hover 時，顯示 Attractions-introduceA */
  #hoverImageA:hover + #Attractions-introduceA,
  #hoverImageA:hover + #Attractions-introduceA + .introduceA-text {
    opacity: 1;
  }
  #hoverImageA:hover {
    display: none;
  }
  /*懸停GPS*/
  #hoverImageB {
    display: none;
  }
  /* 預設隱藏 Attractions-introduceB */
  #Attractions-introduceB {
    display: none;
  }
  .introduceB-text {
    display: none;
  }
  /* 當 hoverImageB 被 hover 時，顯示 Attractions-introduceB */
  #hoverImageB:hover + #Attractions-introduceB,
  #hoverImageB:hover + #Attractions-introduceB + .introduceB-text {
    opacity: 1;
  }
  #hoverImageB:hover {
    display: none;
  }
  /*懸停AI辨識*/
  #hoverImageC {
    display: none;
  }
  /* 預設隱藏 Attractions-introduceC */
  #Attractions-introduceC {
    display: none;
  }
  .introduceC-text {
    display: none;
  }
  /* 當 hoverImageC 被 hover 時，顯示 Attractions-introduceC */
  #hoverImageC:hover + #Attractions-introduceC,
  #hoverImageC:hover + #Attractions-introduceC + .introduceC-text {
    opacity: 1;
  }
  #hoverImageC:hover {
    display: none;
  }
  .section-introduce .Phone-image,
  .section-introduce .hover-image {
    animation-delay: 0s; /* 確保沒有時間差 */
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .illustration-2 {
    position: relative;
    height: 400px;
    background-color: rgb(212, 172, 234);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    position: relative; /* 讓內部元素可以絕對定位 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .illustration-2 img {
    width: 600px;
    max-width: 100%;
    height: auto;
  }
  .illustration-2 p {
    font-family: "Microsoft JhengHei", sans-serif;
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
    position: absolute;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 10;
  }
  .illustration-2 p:first-of-type {
    width: 40%;
    top: 120px;
    left: 50%;
    transform: translateX(-50%) translateX(5px);
  }
  .illustration-2 p:last-of-type {
    width: 40%;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateX(-10px);
  }
  #OiO-editing-platform,
  #OiO-editing-platform-1 {
    position: relative;
    display: block;
    height: auto;
  }
  .OiO-editing-platform-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .OiO-editing-platform-img1 {
    width: 100%;
    height: auto;
    display: block;
  }
  .text-OiO-editing-platform {
    position: absolute;
    top: 75%;
    left: -160px;
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    pointer-events: none; /* 可視需求移除 */
  }
  .text-container-3 {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    z-index: 11;
  }
  .text-container-3 p {
    font-family: "Microsoft JhengHei", sans-serif;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #000;
  }
  .section-introduce {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  .section-introduce .OiO-editing-platform {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-introduce .OiO-editing-platform .prev-button,
  .section-introduce .OiO-editing-platform .next-button {
    display: none;
  }
  .section-introduce .OiO-editing-platform .slide {
    position: relative;
    display: flex !important;
    visibility: visible !important;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .section-introduce .OiO-editing-platform .slide img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  .section-introduce .OiO-editing-platform .slide p {
    text-align: center;
    font-size: 0.6rem;
    font-family: "Microsoft JhengHei", sans-serif;
    line-height: 1.5;
    max-width: 300px;
    width: 55%;
    font-weight: bold;
    text-align: left;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 88%;
    left: 60%;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
  }
  .section-introduce .dots-container {
    display: none;
  }
  .illustration-3 {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .illustration-3__image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
  }
  .illustration-3 p {
    position: absolute;
    top: 38%;
    left: 28%;
    width: 48%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    text-align: left;
    color: #000;
    pointer-events: none;
  }
  .about-us {
    display: block;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: auto; /* 根據內容自動調整高度 */
    min-height: 500px; /* 設定最小高度以防止過小 */
  }
  .text-container-4 {
    display: flex;
    flex-direction: column; /* 文字區塊內的文字垂直排列 */
    align-items: center; /* 保證文字區塊居中 */
    max-width: 100%; /* 文字區塊寬度為父容器的 100% */
    padding-left: 20px; /* 可選：為文字區塊添加左邊距 */
  }
  .text-about-us {
    text-align: center; /* 使文字區塊內的文字居中 */
    color: rgb(0, 0, 0);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
    width: 75%;
    margin-left: 0%;
    margin-top: -102%;
    z-index: 10;
  }
  .text-about-us p {
    font-family: "Microsoft JhengHei", sans-serif;
    margin-bottom: 1rem; /* 每段文字之間的間隔 */
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
  }
  .about-us-img img {
    max-width: 100%;
    height: auto; /* 高度自動調整以保持比例 */
    width: 80%; /* 寬度自動調整以保持比例 */
    display: block; /* 去除圖片的底部空白間隙 */
    margin: 0 auto; /* 保證圖片水平居中 */
    margin-top: 10px;
  }
  #about-us .title-5-image {
    margin-bottom: 10px; /* 減少圖片下方的間距 */
  }
  .section-recommend {
    display: block;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: auto; /* 根據內容自動調整高度 */
    min-height: 500px; /* 設定最小高度以防止過小 */
  }
  #recommend .title-6-image {
    margin-bottom: 10px; /* 減少圖片下方的間距 */
  }
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .slider_rec {
    display: flex;
    height: 300px;
    justify-content: center;
    overflow: hidden; /* 隱藏超出容器的部分 */
  }
  .slide_rec {
    width: 150px; /* 每張圖片的寬度 */
    height: 100%; /* 保持圖片比例 */
    object-fit: contain; /* 避免圖片被切割，保持完整顯示 */
    margin-right: 10px; /* 控制圖片之間的間距 */
    transition: transform 0.3s ease-in-out; /* 增加平滑過渡效果 */
  }
  .section-FAQ {
    max-width: 100%; /* 最大寬度為容器的 70% */
    height: auto; /* 高度自動調整以保持比例 */
    width: auto; /* 寬度自動調整以保持比例 */
    display: block; /* 去除圖片的底部空白間隙 */
    background-color: rgb(242, 243, 240);
  }
  .accordion {
    max-width: 880px;
    margin: auto;
  }
  .accordion-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .accordion-button {
    all: unset; /* 清除所有預設樣式 */
    display: block;
    width: 80%;
    padding: 15px 20PX;
    border: 10px solid;
    cursor: pointer;
    font-size: 16px;
    background: white;
    border-radius: 30px;
    font-family: "Microsoft JhengHei", sans-serif; /* 設定微軟正黑體 */
    font-weight: bold; /* 讓問題的文字加粗 */
    text-align: left; /* 讓文字在框內靠左對齊 */
    position: relative;
    z-index: 10;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
